* {
    box-sizing: border-box;
    margin: 0;
}

.menu {
    float: left;
    padding-left: 500px;
}

.link-navbar:hover,
.link-navbar:focus,
.link-navbar:active {
    color: black;
}

.active {
    color: black !important;
}

.item {
    display: inline-block;
}

.link-navbar {
    text-transform: uppercase;
    color: #6c7680;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-left: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
}

.logo {
    background-image: url(img/logo.png);
    width: 98px;
    height: 30px;
    float: left;
}

.navbar {
    padding: 20px 0 20px 0;
    background-color: #fffefd;
}

.img-responsive {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-bg {
    background-image: url(img/bg.jpg);
    width: 100%;
    height: 1000px;
}



.social-bg {
    background-color: rgba(244, 244, 244, 0.5);
    height: 400px;
    width: 100%;
    margin-top: 530px;
}

.social-1 {
    background-image: url(img/twitter.png);
    width: 80px;
    height: 80px;
}

.social-2 {
    background-image: url(img/behance.png);
    width: 80px;
    height: 80px;
}

.social-3 {
    background-image: url(img/linkedin.png);
    width: 80px;
    height: 80px;
}

.social-4 {
    background-image: url(img/flickr.png);
    width: 80px;
    height: 80px;
}

.padd-social {
    padding-left: 70px;
}

.social {
    padding-top: 80px;
}

.portfolio {
    padding-top: 70px;
}

.img-1 {
    background-image: url(img/portfolio-1.jpg);
    width: 313px;
    height: 313px;
}

.img-2 {
    background-image: url(img/portfolio-2.jpg);
    width: 313px;
    height: 313px;
}

.img-3 {
    background-image: url(img/portfolio-3.jpg);
    width: 313px;
    height: 313px;
}

.bounce:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.bounce {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.zoom {
    overflow: hidden;
}

.zoom:hover > .img {
    transition: all 2s;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.work {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #6c7680;
    padding-top: 200px;
    font-weight: 800;
}